#header {
    background-image: url("../images/pattern2.png");
    background-size: cover;
}

#header h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: auto, 0;
   }

 #items_headings1 h2 {
    background-color: mediumspringgreen;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
 }

 #items_headings2 h2 {
    background-color: lightcoral;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#items_headings3 h2 {
    background-color: skyblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

figure {
   padding: 0;
   margin: 0;
}

.figcaption {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

p {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
}

span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

